.popup__input {
  padding-bottom: 13px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid #000000;
  ;
  font-size: 14px;
  line-height: 17px;
}


.popup__input:nth-child(2) {
  margin-bottom: 42px;
}

@media (max-width: 550px) {
  .popup__input:nth-child(2) {
    margin-bottom: 45px;
  }
}