.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 0 13px 0;
  outline: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* margin-bottom: 30px; */
}



.popup__input:nth-child(2) {
  margin-bottom: 42px;
}

@media (max-width: 550px) {
  .popup__input:nth-child(2) {
    margin-bottom: 45px;
  }
}


/* .popup__input {
  padding-bottom: 13px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
}


.popup__input:nth-child(2) {
  margin-bottom: 42px;
}



@media (max-width: 550px) {
  .popup__input:nth-child(2) {
    margin-bottom: 45px;
  }
} */