.popup__input{
    width: 358px;
    padding-bottom: 13px;
    margin-bottom: 30px;
   border: none;
   outline: none;
   border-bottom: 1px solid #d9d9d9;
}


  .popup__input:nth-child(2) {
    margin-bottom: 48px;
  }