.popup__container {
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
  width: 430px;



}


@media (max-width: 550px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
  }
}