.profile{
  display: flex;
  max-width: 880px;
  padding-top: 40px;
  padding-bottom: 51px;
  justify-content: space-between;
  align-items: center;
  font-size: 0;
}

@media  screen  and (max-width:550px){
  .profile {
    flex-direction: column;
    justify-content: center;
    margin: 42px 0 36px;
    padding: 0;
    text-align: center;
  }
}