.popup__save {
    background: #000000;
    border-radius: 2px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 30px;
    color: #FFFFFF;
    padding: 14px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: opacity .8s;

}

.popup__save:hover {
    opacity: 0.8;
}


@media (max-width: 550px) {
    .popup__save {
        font-size: 14px;
        line-height: 17px;

    }
}