.popup_type_img {
    width: 100%;
    height: 100vh;
    display: none;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
}

.popup_type_img.popup_opened {
    display: block;
}