.popup_type_img {


    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}




.popup_type_img.popup_opened {
    display: block;
}