.profile__title{
    color: #ffffff;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
   margin-bottom: 16px;
   margin-right: 18px;
   margin-top: 0;
   text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    
}

@media  screen and (max-width:550px) {
    .profile__title{
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin: 26px 10px 14px 26px;
    
        
    }
  }