.profile__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color:  #ffffff;
    margin: 0;
}

@media  screen and (max-width:550px){
    .profile__text{
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        padding-bottom: 36px;
    }
  }