.popup__card-photo {
    /* width: 100%;
    height: 100%; */
    max-width: 75vw;
    max-height: 75vh;
    object-fit: contain
}


@media (max-width: 550px) {
    .popup__card-photo {
        width: 240px;
        height: 299px;
    }
}

@media (max-width: 550px) {
    .popup__card-photo {
        width: 240px;
        height: 299px;
    }
}