.profile__cover{
    display: flex;
    flex-direction: row;
    align-items: center;
}


  @media screen and (max-width: 550px) {
    .profile__cover {
      display: grid;
    }
  }
  @media (min-width: 550px) {
    .profile__cover {
      gap: 30px;
    }
  }