.profile__info{
    display: flex;
    justify-content: center;
    flex-direction: column;
   
   
}

@media  screen and(min-width:320px) and (max-width:550px) {
    .profile__info{
       max-width: 282px;
       align-items: center;
       margin: 0 auto;
       justify-content: center;
       padding-left: 0px;

    }
}



