.profile__info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
   
   
   
}


@media  screen and (max-width:650px) {
    .profile__info{
        width: 250px;
    }
}

@media  screen and(min-width:320px) and (max-width:550px) {
    .profile__info{
       max-width: 282px;
       align-items: center;
       margin: 0 auto;
       justify-content: center;
       padding-left: 0px;

    }
}

@media screen and(min-width:551px) and (max-width:940px) {
    .profile__info{
      padding-right: 30px;

    }
}






