.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 6px;
  outline: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}


.popup__input:nth-child(2) {
  margin-bottom: 42px;
}

@media (max-width: 550px) {
  .popup__input:nth-child(2) {
    margin-bottom: 45px;
  }
}